body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fef9f2;
}

#emoji {
  font-size: 10rem;
  filter: sepia(0);
  transition-property: transform, filter;
  transition-duration: 200ms;
  cursor: pointer;
}

#emoji:hover {
  transform: scale(1.3);
  filter: sepia(60%);
}
