* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4bee4;
}

.calendar {
  background-color: #fff;
  width: 40%;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
}

.month {
  background-color: #3b1e54;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 12px 0;
  margin-bottom: 12px;
}

.day {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}

.day-number {
  font-size: 8rem;
  font-weight: bold;
  color: #3b1e54;
}

.year {
  padding: 8px 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3b1e54;
}
