.header-content {
  text-align: center;
}

.btn {
  background-color: #ff4e88;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.8rem 1.5rem;
}

/* javascript */
.cats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
}

.random-cats {
  width: 40%;
}

img {
  max-width: 700px;
  height: 40rem;
  border-radius: 2rem;
  object-fit: cover;
}
