* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  color: #fff;
}

p {
  font-size: 3rem;
  font-weight: 700;
}

.js {
  color: #fff100;
}

.typed-text {
  color: #4e31aa;
}
