* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 100%);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.range-container {
  position: relative;
}

input[type="range"] {
  width: 300px;
  margin: 20px 0;
  outline: none;
  appearance: none;
}

#rangeContent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  background-color: #243642;
  color: #fff;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 4px;
  transition: opacity 0.5s ease;
}

#rangeContent::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 16px solid;
  border-color: #243642 transparent transparent transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #e5e1da;
  height: 8px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 24px;
  width: 24px;
  background-color: #fefbf6;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: -8px;
  cursor: pointer;
}
