* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #164863;
  --secondary-color: #9bbec8;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  max-width: 500px;
  width: 500px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

.progress-container::before {
  content: "";
  background: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease-out;
}

.circle {
  background: #fff;
  color: var(--secondary-color);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid var(--secondary-color);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: 12px 24px;
  margin: 24px 8px 0;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}

.btn:active {
  transform: scale(0.7);
}

.btn:disabled {
  background: var(--secondary-color);
  cursor: not-allowed;
}
