@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  border: 2px dashed rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  gap: 1.2rem;
}

.display-joke {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

#btn-joke {
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: white;
  background-color: #ff4e88;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
