* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f8;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBox {
  width: 60%;
  height: 52px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 16px;
}

#input {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 12px 24px;
  font-size: 1.12rem;
  border-radius: 24px;
}

#input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#searchBtn {
  padding: 12px 24px;
  font-size: 1.12rem;
  border: none;
  background-color: #131842;
  color: #fff;
  cursor: pointer;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: 0.2s ease-out;
}

#searchBtn:hover {
  background-color: #f8485e;
}

.content-container {
  width: 60%;
  color: #131842;
  font-size: 1.12rem;
  text-align: justify;
  margin-top: 32px;
  padding: 12px 24px;
  display: flex;
  border-radius: 24px;
  justify-content: center;
  line-height: 32px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
}

/* javascript */
mark {
  background: #f8485e;
  color: white;
}
